/*-----------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------COMMON------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------*/

body{
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.landing-box{
  height: 45em;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------HEADER SECTION----------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------*/

.navbarOne{
  position: fixed;
  opacity: 0.9;
  width: 100%;
  z-index: 1;
  padding: 0% 3% 0% 3%;
}

.logo{
  width: 30%;
}

.navbar-collapse.collapse .navbar-nav.mr-auto{
  transform: translateX(14%);
  width: 80%;
}

.navbar-collapse.collapse.show .navbar-nav.mr-auto{
  transform: none;
  width: 80%;
}

.nav-item{
  padding-left: 4%;
  padding-right: 4%;
}

.btn.btn-primary{
  background-color: #73C041;
  border-color: #73C041;
}

.btn.btn-primary.btn-lg:focus{
  background-color: #5c9933;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------MAIN SECTION----------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------LANDING BOX-------------------------------------------------------------*/

.appstore, .gplay{
  width: 20%;
}

/*------------------------------------------------------------------NUTRITIONAL FACTS BOX-----------------------------------------------------*/

.imgTxt_factBox{
  justify-content: center;
}

.nuFacts-box img{
  width: 100%;
  border-radius: 5%;
}

.txtPizza, .txtBeans, .txtFruits{
  transition: all 0.5s linear 0s;
  opacity: 0;
}

.energy-gp, .carb-gp, .prot-gp, .fat-gp, .fiber-gp{
  padding: 2%;
}

.energy-gp{
  background-color: #73C041;
}

.carb-gp{
  background-color: #e175ff;
}

.prot-gp{
  background-color: #e84e4e;
}

.fat-gp{
  background-color: #ffec75;
}

.fiber-gp{
  background-color: #4abde8;
}

.txtPizza:hover, .txtBeans:hover, .txtFruits:hover{
  opacity: 1;
  transform: translateY(2%);
}

/*-----------------------------------------------------------------GOAL BOX-------------------------------------------------------------*/

.goal-box{
  background-color: #f2f2f2;
}

.pic-goal{
  text-align: center;
}

.pic-goal img{
  width: 35%;
}

.txt-goal{
  font-size: 1.8em;
}

.txt-goal li{
  transform: translateX(-6%);
  list-style-type: none;
  padding-bottom: 3%;
}

.txt-goal i{
  color: #73C041;
  padding-right: 3%;
  padding-bottom: 2%;
}

/*------------------------------------------------------------------TECH BOX--------------------------------------------------------------*/

.picture-tech img{
  width: 100%;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------FOOTER SECTION----------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------*/

footer{
  height: 24em;
  background-color: #f2f2f2;
}

.foot-container{
  background-color: #f2f2f2;
}

.titles-footer a{
  color: #73C041;
}

.butTxt-box{
  margin-top: 4%;
}

.social-icons{
  text-align: center;
}
